<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ADMOB IONIC 5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text>Anuncios Admob</ion-text>
  <ion-row>
    <ion-col size="6">
      <ion-button color="primary" (click)="MostrarInterstitial()">INTERSTITAL</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="secondary" (click)=" MostrarReward()">REWARDVIDEO</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
